ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
        text-decoration: none;    
    
}
 footer {
 
    background-color: #f3f3f3;
    padding: 10px;
    text-align:center;
    color:#f3f3f3;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
     border: 1px solid #e7e7e7;
 
}
